{% load static %}
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{% static 'login/login.css' %}">
</head>
<body>

<h2>Login Form</h2>

<form method="post">
    {% csrf_token %}
  <div class="imgcontainer">
    <img src="{% static 'login/WhatsApp Image 2020-01-28 at 10.49.36.jpeg' %}" alt="Avatar" class="avatar">
  </div>

  <div class="container">
    <label for="id_username">Username:</label>
    <input type="text" name="username" id="id_username" autofocus required>

    <label for="id_password">Password:</label>
    <input type="password" name="password" id="id_password" required>
        
    <div class="clearfix" style="display: inline-block;">
      <button type="submit" class="signupbtn">Login</button>
      <a href="/user/sign_up"><button type="button" class="cancelbtn">Not a user</button></a>
    </div>
  </div>

</form>

</body>
</html>
